mat-card {
  /* background-color: #33CA7F; */
  /* background-color: #009FF1; */
  margin: 0 auto;
  margin-bottom: 30px;
  width: 50%;
  background-color: white;
  color: black;
}

@media (max-width: 1000px) {
  mat-card {
    margin: 0px;
    margin-bottom: 30px;
    width: 100%;
    border-radius: 0px;
  }
}

mat-label {
  color: black;
}

::ng-deep.mat-form-field-underline {
 background-color: #00A9F4 !important;
}

.new-card {
  margin: 2% auto;
}

@media (max-width: 1000px) {
  .new-card {
    width: 100%;
    margin: 7% auto;
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  border: solid;
}

.new-card-image {
  text-align: center;
}

.new-card-header {
  display: flex;
  justify-content: space-between;
}

mat-form-field {
  margin: 10px;
}

mat-label {
  font-size: 24px;
}

input {
  margin-top: 10px;
  font-size: 19px;
}

mat-grid-tile {
  font-size: 18px;
}
