<mat-card>
  <h1>Character Card</h1>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput placeholder="Ex: Captain America" [(ngModel)]="name">
  </mat-form-field>

  <mat-form-field>
    <mat-label>HP</mat-label>
    <input matInput placeholder="Ex: 40" [(ngModel)]="hp">
  </mat-form-field>

  <mat-form-field>
    <mat-label>ATK</mat-label>
    <input matInput placeholder="Ex: 20" [(ngModel)]="atk">
  </mat-form-field>

  <mat-form-field>
    <mat-label>DEF</mat-label>
    <input matInput placeholder="Ex: 10" [(ngModel)]="def">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Special Move 1</mat-label>
    <input matInput placeholder="Ex: Thunder" [(ngModel)]="moveOne">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Special Move 2</mat-label>
    <input matInput placeholder="Ex: Throw Shield" [(ngModel)]="moveTwo">
  </mat-form-field>
  <br/>

  <button mat-raised-button color="accent" (click)="createCard()">Create</button>
</mat-card>

<mat-card class="new-card">
  <div class="new-card-header">
    <h1 style="display: inline">{{postName}} </h1>
    <h1 style="display: inline" id="hp">{{postHp}} HP</h1>
  </div>

  <mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile>ATK: {{postAtk}}</mat-grid-tile>
    <mat-grid-tile>DEF: {{postDef}}</mat-grid-tile>
    <mat-grid-tile>{{postMoveOne}}</mat-grid-tile>
    <mat-grid-tile>{{postMoveTwo}}</mat-grid-tile>
  </mat-grid-list>
</mat-card>

<!-- <mat-card>
  <h1>Pokemon</h1>
  <button mat-raised-button color="accent" (click)="sort()">Sort</button>
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile *ngFor="let poke of pokemon">
      <ul>
        <p>{{ poke.name }}</p>
        <img [src]="poke.sprites.front_default" alt="Pokemon Image" />
      </ul>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card> -->

<mat-card>
  <button mat-raised-button color="accent" (click)="getPosts()">Get Posts</button>
  <ul>
    <li *ngFor="let post of repeatPosts">{{ post }}</li>
  </ul>
  <h1>Post Comment</h1>
  <form #myForm="ngForm" (submit)="createHero(myForm)" autocomplete="off">
    <mat-form-field>
      <mat-label>Comment</mat-label>
      <input
        #heroField="ngModel"
        matInput
        placeholder="Ex: Thor"
        name="hero"
        ngModel
        required>
      <mat-error *ngIf="heroField.invalid">Please Enter Comment</mat-error>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit">
      Post</button>
  </form>
  <br/>

</mat-card>
