<mat-toolbar color="primary" id="title">Justin's Apartment</mat-toolbar>

<!-- <mat-card> -->
  <!-- <div class="grid-container"> -->
    <div class="grid-x">
      <div class="small-6" id="living-room-image">
        <iframe #radio width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <img class="apartmentRadio" src="/assets/SonyRadio.png" (click)="controlRadio(radio)"/>
        <!-- <br/> -->
      </div>
      <div class="small-6" id="bed-room-image"></div>
    </div>
  <!-- </div> -->
<!-- </mat-card> -->
<!-- <mat-card>
  <button class="lofi hide" color="accent" mat-raised-button (click)="lofi(radio)">Lofi</button>
  <button class="dubstep hide" color="accent" mat-raised-button (click)="dubstep(radio)">Dubstep</button>
  <button class="gaming hide" color="accent" mat-raised-button (click)="gaming(radio)">Gaming</button>
  <button class="stop hide" color="primary" mat-raised-button (click)="stop(radio)">Stop Radio</button>
  </mat-card> -->
