<mat-toolbar color="primary" id="title">Pokemon Trading Cards</mat-toolbar>

<mat-card>
<h1>My Apartment</h1>
<div id="video-container">
  <div id="video-image">
    <iframe #radio id="radioVideo" width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <img class="apartmentRadio" src="/assets/Radio.png" (click)="controlRadio(radio)"/>
    <br/>
    <button class="lofi hide" color="accent" mat-raised-button (click)="lofi(radio)">Lofi</button>
    <button class="dubstep hide" color="accent" mat-raised-button (click)="dubstep(radio)">Dubstep</button>
    <button class="gaming hide" color="accent" mat-raised-button (click)="gaming(radio)">Gaming</button>
    <button class="stop hide" color="primary" mat-raised-button (click)="stop(radio)">Stop Radio</button>
  </div>
</div>
<button mat-raised-button (click)="playGames()">Play Games</button>
<div *ngIf="playingGames">
  <iframe width="560" height="315" allow="fullscreen; autoplay; encrypted-media" src="https://games.construct.net/859/latest" frameborder="0" allowfullscreen="true" msallowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" allowpaymentrequest="false" referrerpolicy="unsafe-url" sandbox="allow-same-origin allow-forms allow-scripts allow-pointer-lock allow-orientation-lock allow-popups" scrolling="no"></iframe>
</div>
</mat-card>
